@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    list-style-type: none;
    text-decoration: none;
    font-family: DM Sans;
}

html{
    scroll-behavior: smooth;
}

body, html{ 
    font-size: 16px;
}

body{
    background-color: #FCFBFF;
}