$black: #161616;
$darkgreen: #154444;
$green: #244D4D;
$par: #444444;
$about: #383738;
$title: #242424;
$form: #F4F6F6;
$footer: #305F64;
$gray: #859395;
$grfur: #919090;
$circle: #ECF4FF;
$like: #EF5423;
$grsofa: #666666;
