@use '../../../../app/styles/var.scss' as *;

.nav {
    ul {
        display: flex;
        align-items: center;
        gap: 30px;

        li {
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: $black;
                transition: .2s ease;

                &:hover {
                    color: $darkgreen;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav {
        top: 0;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        left: 0;
        background-color: white;
        z-index: 2;

        ul {
            flex-direction: column;
            gap: 15px;

            li {
                a {
                    color: $darkgreen;

                    &:hover{
                        color: $darkgreen;
                    }
                }
            }
        }
    }
}