.header {
    padding-top: 20px;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.close {
    display: none;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 768px) {
        display: block;
    }
}