@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:Montserrat ;
  src: url('./fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family:DM Sans ;
  src: url('./fonts/DMSans_36pt-SemiBold.ttf');
}

html{
  scroll-behavior: smooth;
}

@layer components {
  .container{
    @apply max-w-7xl m-auto p-10;
  }

  h1{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  h2{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: 0%;
  }

  h3{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
  }

  a{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: .2s ease;

    &:hover{
      color: #154444;
    }
  }

  p{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
  }
}

.shadow-m{
  box-shadow: 30px 30px 0 #DEE4E2;
}

.grid-tm{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, auto));
  justify-content: space-between;
}

.btn{
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0%;
  transition: .2s ease;
  position: relative;

  &::before{
    content: '';
    max-width: 100%;
    height: 1px;
    background-color:#154444;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
  }

  &:hover{
    color:#154444;

    &::before{
      display: block;
    }
  }

}

input{
  &:focus{
    outline: none;
  }
}
